<style>
    .stat h1{
        text-align: center;
        font-size: 36px;
    }
    .stat h2{
        text-align: center;
        color: #cf7c00;
        font: bold 252px 'Helvetica Neue', 'Helvetica', sans-serif;
    }
</style>

<div class="stat">
    <h1>Average Number of Friends</h1>
    <h2 class="stat"><%= @average_friends %></h2>
</div>