<style>
    img{
        display:block;
        margin: 0 auto;
    }
</style>

<h1>Party Peeple: Outcomes</h1>

<img src="<%= Gchart.pie(:size => "675x400",
    :data => [@males, @females], 
    :labels => ["Male: #{Person.percentage_of_people(@males)}%","Female: #{Person.percentage_of_people(@females)}%"]) 
%>"/>

<!--

% 600+
% 500-599
% 400-499
% 300-399
% 200-299
% 199-

-->