<h1>Party Peeple: Gender</h1>

<img src="<%= Gchart.pie(:size => "824x550", 
    :data => [@males, @females], 
    :labels => ["Male: #{Person.percentage_of_people(@males)}%","Female: #{Person.percentage_of_people(@females)}%"]) 
%>"/>