<style>
    body{
        width: 924px;
        height: 668px;
        padding: 50px;
    }
    li{
        float: left;
        margin: 0 20px 20px 0;
    }
</style>

<ul>
    <!-- Should only show up in the rotation if there are > 130 people signed up. It should be a random assortment of 130 of those people -->
    <% Person.partiers.sample(130).each do |p| %>
    <li><%= image_tag "http://graph.facebook.com/#{p.identifier}/picture?type=square" %></li>
    <% end %>
<ul>