<h1>Party Peeple: Outcomes</h1>

<img src="<%= Gchart.pie(:size => "675x400", 
    :data => [45,22,21,11,1], 
    :labels => ["Met a new friend","Got a date","Received phone number","New activity partner",'F#$%',"Furry encounter"]) %>"/>

<!--

45% Met new friend
19% Got a date
14% Received phone number
11% New activity partner
7% F#$%
1% Furry encounter

-->