<html>
    <head>
        <title>Party Peeple</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">
    </head>
    <body>
        <div style="text-align : center; padding : 100px;">
        <%= yield %>
        </div>
    </body>
</html>