<div>
  <h2>About your data and privacy</h2>
  <p>Party Peeple uses your Facebook profile to provide you with recommendations on where your time is best spent tonight. A small part of your profile will be shared with other Party Peeple peeple.</p>
  <p>Pepys Inc. is using a temporary Facebook application to connect to your account. We will send you an email at the end of the night to confirm that your data has been removed from our databases.</p>
</div>