<div id="fb-root"></div>
<script>
  (function() {
    var e = document.createElement('script'); e.async = true;
        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
        document.getElementById('fb-root').appendChild(e);
        }());
</script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '<%= FB_CONFIG[:app_id] %>', // App ID 
      channelURL : '//<%= request.env["SERVER_NAME"] %>/channel.html',
      status     : false, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      oauth      : true, // enable OAuth 2.0
      xfbml      : false  // parse XFBML
    });
  };
   
   function login() {
     FB.login(function(response) {
        if (response.authResponse) {
          console.log('Welcome!');
          window.location.href = "/login";
        } else {
          console.log('User cancelled login or did not fully authorize.');
          // window.location.href = "/denied";
        }
      }, {scope: '<%= FB_CONFIG[:app_perms] %>'});
      return false;
   }
</script>
<img onclick="login();" src="/images/facebook.png" />