<section class="main flatpage">


<h1 style="text-align : center;">We had a blast.<br>We miss you already.</h1>

    <h3>Next Performance</h3>


    <p>Learn more about e-Geaux, the infallible artificial intelligence behind Party Peeple.</p>
    
    <p><a href="http://pepysinc.com">e-Geaux (beta) @ Artisphere</a><br> 
    Thursday, December 8th</p>
    
    <h3>Get Pepys Inc. Updates</h3>
    <p><a href="https://twitter.com/#!/pepysinc">Follow @pepysinc on Twitter</a></p>



    <!-- Begin MailChimp Signup Form -->
    <link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
    <style type="text/css">
    	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
    	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
    	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <div id="mc_embed_signup">
    <form action="http://pepysinc.us2.list-manage.com/subscribe/post?u=9c3a74a80339bfb8b81f0eb29&amp;id=c63c5e01a5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" style="padding-left : 0;">
    	<label for="mce-EMAIL">Subscribe to our mailing list</label>
    	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </form>
    </div>

    <!--End mc_embed_signup-->

</section>