<section class="main">
    <hgroup>
        <h1>Hey DCWEEK.</h1>
        <h2>It's OK to peep.</h2>
    </hgroup>
    <figure id="facebook">
        <%= render 'login' %>
    </figure>
    
    <%= render 'disclaimer' %>
</section>
