<section class="main">
    <hgroup>
        <h1>So many peeple.</h1>
        <h2>So little time.</h2>
    </hgroup>
    <figure id="facebook">
        <%= render 'login' %>
    </figure>
    
    <%= render 'disclaimer' %>
</section>
