        <section class="main flatpage">
            <hgroup>
                <h1>Pepys Inc.</h1>
                <h2>Optimizing your life,<br />so you don't have to</h2>
            </hgroup>
            <figure>
                <img src="/images/cast.png" alt="" />
            </figure>
            <p>Party Peeple is the latest in a string of smash hit mobile apps from Washington DC&#39;s hottest start-up, <a href="http://pepysinc.com">Pepys Inc.</a> Their Furry-izer, Bikeser, and Groundr mobile apps have sold millions and continually rank among the App Store&#39;s top 10 downloads. Pepys Inc.&#39;s forthcoming e-Geaux app suite has been praised in advance as &ldquo;visionary,&rdquo; &ldquo;speculative and dangerous,&rdquo; and &ldquo;mostly bug-free.&rdquo;</p>
            <p>You are invited to an exclusive preview of our e-Geaux App Suite. More details will be shared with you over email.</p>
            <h3>Save The Date</h3>
            <p class="show"><a href="http://m.facebook.com/event.php?eid=107282676052664">e-Geaux (beta) @ Artisphere</a><br />
            Thursday, December 8th</p>
            <p>What everyone else is saying about Pepys Inc.:</p>
            <blockquote>
                <p>Have you ever wanted to put a Facebook friend on autopilot? Make them think you care without the time commitment of leaving a meaningful birthday message or the trouble of reading their ranting comments. A &ldquo;like&rdquo; here, a comment there &ndash; just enough to make it believable? Well, Pepys Inc. has what you've been looking for.</p>
                <a class="citation" href="http://www.npr.org/blogs/alltechconsidered/2011/07/18/138473623/e-geaux-social-networking-without-the-social-or-the-networking">NPR, All Things Considered</a>
            </blockquote>
            <blockquote>
                <p>Full disclosure: I am contractually bound to write a positive review. At least, that&#39;s what we were told in the End User License Agreement, anyway.</p>
                <a class="citation" href="http://dcist.com/2011/07/capital_fringe_review_e-geaux.php">DCist</a>
            </blockquote>
            <blockquote>
                <p>[Audiences] can say they were there, that they witnessed a beta testing of e-Geaux, before it became the next big app that forever transformed the dynamics of the theater and the limits of social media.</p>
                <a class="citation" href="http://www.washingtoncitypaper.com/blogs/fringe/2011/07/08/hip-shot-e-geaux-beta/">Washington City Paper</a>
            </blockquote>
        </section>
