        <section class="main freeform">
            <h2>PARTY PEEPLE</h2>

            <p>Party Peeple is a social lubricant pop-up mobile app powered by social media artificial intelligence (e-Geaux). We tell you who to friend, flirt, and f#&* based on your Digital Capital, mutual interests, and absence of / presence of mutual friends.</p>

            <h2>DIGITAL CAPITAL</h2>

            <p>Pepys Inc. has developed a new measure of social media influence for DCWEEK called  *Digital Capital*. This formula clearly explains everything.</p>

            <%= image_tag "/images/digital_capital.png", :width => "250" %>

            <p>Our proprietary Digital Capital metric contrasts the volume of your Facebook engagement against the total number of your contacts. Don't be a stranger.</p>

            <h2>WINGPEEPS</h2>

            <p>Pepys Inc. has scoured the district to find the most effective social enables, aka *wingpeeps,* to facilitate your friend, flirt, and flirt objectives.</p>

            <p>You can pick up a wingpeep at the Pepys Inc. booth. Or they will find you inside of the party.</p>

            <p>You will know us by our T-shirts.</p>

            <p><%= image_tag "/images/t-shirt.png" %></p>

            <h2>DATA SECURITY</h2>

            <p>We take the privacy and security of your data extremely seriously.</p>

            <p>We’re using a temporary Facebook application to connect to your profile. Immediately following tonight's party, we’re going to sever your connection to the app, delete your records, and then reboot our application.</p>

            <p>We will send you one (and only one) email to confirm that we are no longer connected to your data on Saturday, November 12th, 2011.</p>

            <h2>E-GEAUX</h2>

            <p>Pepys Inc.'s proprietary social media artifical intellgence is called *e-Geaux*. It is powered by our patented cluster capacitor. It optimizes your life so you don't have to.</p>

            <h2>QUESTIONS AND COMMENTS</h2>

            <p>Please visit the Pepys Inc. booth or email <a href="mailto:hello@pepysinc.com">hello@pepysinc.com</a>.</p>
        </section>