        <section class="main flatpage">
            <p>Party Peeple is a social lubricant pop-up mobile app powered by social media artificial intelligence (e-Geaux). We tell you who to friend, flirt,and f#&amp;* based on your Digital Capital, mutual interests, and absence/presence of mutual friends.</p>
            <h3>Digital Capital</h3>
            <p>Pepys Inc. has developed a new measure of social media influence for DCWEEK called <strong>Digital Capital</strong>. This formula clearly explains everything.</p>
            <figure>
                <img src="/images/formula.png" alt="Complex and unexplained formula" />
            </figure>
            <p>Our proprietary Digital Capital metric contrasts the volume of your Facebook engagement against the total number of your contacts. Don&#39;t be a stranger.</p>
            <h3 id="wingpeeps">Wingpeeps</h3>
            <p>Pepys Inc. has scoured the district to find the most effective social enabler, aka <strong>wingpeeps</strong>, to facilitate your friend, flirt, and f#&amp;* objectives.
            <p>You can pick up a wingpeep at the Pepys Inc. booth. Or they will find you inside of the party.</p>
            <p>You will know us by our T-shirts.</p>
            <figure>
                <img src="/images/t-shirt.png" alt="Bright pink tshirt with the Party Peeple logo" />
            </figure>
            <p>In the event that our wingpeeps are&#39;t available, our wingpimp Jason has provided a selection of pickup lines from the training manual:</p>
            <ul>
                <li>Have you heard of facebook dot cam? Heypartypeeple lets you turn facebook friends into friends with benefits!</li>
                <li>Have you tried the indie pop up pickup app, Party Peeple!? Have you f#&amp;^ed anyone yet?</li>
                <li>Party Peeple is an app that gives you the facebook dot com experience within pre-eliminated physical boundaries that online media creat</li>
                <li>Somebody tell God he’s missing an Angel, cause you look like you fell down or something.</li>
                <li>HeyPartyPeeple.com tells me there's no need for protection when we hook up, because there's a 99.9% chance we already have the same STD</li>
                <li>You must be Jamaican because you’ve been running through my mind all night.</li>
                <li>Your daddy must have been a baker because he stole my heart.</li>
                <li>What’s your Digital Capitol like? Mine's the 1%</li>
                <li>HeyPartyPeeple.com says there’s a 95.7% chance you're not a serial killer. That’s nearly the best odds in the room!</li>
                <li>Do you like alcohol? PAAARTY! PEEEEPLE in da HOOwwwuuuuussseeee!!!.</li>
            </ul>
            <h3>Data Security</h3>
            <p>We take the privacy and security of your data extremely seriously.</p>
            <p>We&#39;re using a temporary Facebook application to connect to your profile. Immediately following tonight&#39;s party, we&#39;re going to sever your connection to the app, delete your records, and then reboot our application.</p>
            <p>We will send you one (and only one) email to confirm that we are no longer connected to your data on Saturday, November 12th, 2011.</p>
            <h3>e-Geaux</h3>
            <p>Pepys Inc.&#39;s proprietary social media artifical intellgence is called <strong>e-Geaux</strong>. It is powered by our patented cluster capacitor. It optimizes your life so you don&#39;t have to.
            <h3>Questions and Comments</h3>
            <p>Please visit the Pepys Inc. booth, email us at <a href="mailto:hello@pepysinc.com">hello@pepysinc.com</a>, or tweet us at <a href="http://twitter.com/pepysinc">@pepysinc</a>.
        </section>
