<h2>Confirm Orientation</h2>

<p>We’re sorry, we’re unable to determine your sexual orientation.</p> 
<p>What are you interested in?</p>

<p>
  <%= link_to "male", :action => :choose, :choice => "male" %> |
  <%= link_to "female", :action => :choose, :choice => "female" %> |
  <%= link_to "both", :action => :choose, :choice => "both" %>
  
</p>