
  <img src='http://graph.facebook.com/<%= @peep.identifier %>/picture?type=normal' />
  <h1><%= @peep.first_name %></h1>
  <div class="dc">
    <div class="title">DIGITAL CAPITAL</div>
    <%= @peep.digital_capital %>
  </div>

  <div class="sign">
    <div class="title">SIGN</div>
    Scorpio
  </div>

  <div class="recommendation">
    <div class="title">RECOMMENDATION</div>
    ?
  </div>

  <hr>
  <h2>Conversation Starters</h2>
  
  <ul>
    <li>
      Friends in Common: <%= Party::friends_in_common(@person, @peep).count %>
    </li>
  </ul>


